body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: #ffc107;
}

h1 {
	margin-top: 50px;
	margin-bottom: 30px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#questionLabel {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#magicCowBallImg {
	width: 200px;
	height: 200px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0 0 40px rgba(255, 255, 255);
}

#answerDiv {
	display: none;
}

#answerDiv.show {
	display: block;
}

#cowFactDiv {
	width: 30%;
	margin: 20px auto 20px auto;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	backdrop-filter: blur(10px);
}
#didYouKnow {
	font-size: large;
}

#cowFactDiv.hide {
	display: none;
}

.positive {
	background-color: #28a745;
	color: #fff;
}

.negative {
	background-color: #dc3545;
	color: #fff;
}

.neutral {
	background-color: #ffc107;
	color: #000;
}

.shake {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -1px) rotate(-1deg);
	}
	20% {
		transform: translate(-1px, 1px) rotate(1deg);
	}
	30% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 1px) rotate(-1deg);
	}
	60% {
		transform: translate(-1px, -1px) rotate(0deg);
	}
	70% {
		transform: translate(1px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, 1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -1px) rotate(-1deg);
	}
}

.share {
	margin-top: 20px;
}

.shareBtn {
	background-color: #1da1f2;
	border: none;
	color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
	font-size: 16px;
}

.shareBtn:hover {
	background-color: #0e7ac0;
}

#askButton {
	padding: 10px 20px;
	font-size: 18px;
}

#prompt {
	font-size: 16px;
	height: 30px;
}

#bubbles {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.bubble {
	position: absolute;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	animation: float linear infinite;
	will-change: transform;
}

@keyframes float {
	0% {
		transform: translateY(100%) translateX(0);
	}
	100% {
		transform: translateY(-100%) translateX(0);
	}
}